body{
    margin: 0;
}
#logo{
    width: 90px;
    height: 90px;
    float: left;
    padding: 0px 15px 0px 0px;
}
#headline{
    font-size: 30px;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

#navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(2, 2, 2);
}

.navigation-button{
    float: left;
}

#about{
    float: right;
}
#contact{
    float: right;
}

.active{
    background-color: limegreen;
}

.navigation-button a{
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.navigation-button a:hover:not(.active){
    background-color: dimgray;
}

main {
    position: relative;
}

#bg-image {
    background-image: url(../images/backgroundPicture.png);
    height: 1000px;
    background-repeat: no-repeat;
    filter: blur(7px);
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    left: 10%;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

#flex-container-1 {
    position: absolute;
    top: 70px;
}

#flex-container-2 {
    position: absolute;
    top: 450px;
    left: 23%;
    width: 54%;
}

.flipcard {
    height: 300px;
    width: 300px;
    perspective: 800px;
    background-color: transparent;
}
.flipcard-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    
    transition: transform 1s;
    transform-style: preserve-3d;

}
.flipcard:hover .flipcard-inner {
    transform: rotateY(180deg);
}
.flipcard-front, .flipcard-back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flipcard-back {
    background-color: #2980b9;
    transform: rotateY(180deg);
    text-align: center;
}
.front-image {
    width: 100%;
    height: 100%;
}
.name {
    text-align: center;
}