<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Car Classification</title>
        <link href="{{ url_for('static',filename='images/logo.ico') }}" rel="icon">  
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index-style.css') }}">
        <script src="{{ url_for('static', filename='scripts/index-script.js') }}" defer></script>
    </head>
    <body>
        <header>
            <div style="overflow: hidden;">
                <img src="{{ url_for('static', filename='images/logo.ico') }}"  alt="logo" id="logo">
                <p id="headline">AutoVision</p>
            </div>
        </header>

        <nav>
            <ul id="navigation-bar">    
                        <li class="navigation-button" id="index"><a href="http://3.19.228.205:1234/" class="active">Home</a></li>
                        <li class="navigation-button" id="result"><a href="http://3.19.228.205:1234/results">Result</a></li>
                        <li class="navigation-button" id="contact"><a href="http://3.19.228.205:1234/contact">Contact</a></li>
                        <li class="navigation-button" id="about"><a href="http://3.19.228.205:1234/about">About</a></li>
            </ul>
        </nav>

        <main>
            <div>
                <img id='bg-image' src="{{ url_for('static', filename='images/cybertruck.jpg') }}">
            </div>
			
            <div id="pictureDropBox">
                <form action="#" method="post" enctype="multipart/form-data">
                    <input type="file" id="img-find-button" name="img" accept="image/*">
                    <label for="img-find-button">+</label>
					<!--<input type="submit" value="submit-image">-->
                    <img id="img-output">
                    <input type="submit" value="Classify" id="classify-button">
                </form>
            </div>
            <div id="description">
                Trying to figure out the type of a car?
                <br>
                Wanna know some data about a car?
                <br>
                <span class="enlarge">Upload the photo and Classify here</span>   
            </div>
        </main>

    </body>
</html>
